@import url('https://fonts.googleapis.com/css?family=Nunito%20Sans');

body {
    background-color: #ecf0f1;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    padding : 40px;
    color : #2c3e50;
}

#container {
    width: 80%;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    
}

h2 {
    margin: .5em;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    align-items: center;
}

.bottom input[type="text"] {
    margin-bottom: 0;
    margin-right : 20px;
}

.wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
  
.wrapper input[type="checkbox"] {
    display: none;
}

.slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
    box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}

input[type="checkbox"]:checked+.slider {
    background-color: #44cc66;
}

input[type="checkbox"]:checked+.slider .knob {
    left: calc(100% - 19px - 3px);
}

.highlight {
    display: inline;
    background-color: #496887;
    color : #ecf0f1;
    padding : 0 .3em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}